@media all and (min-width: 55em) {

	.infoz {
		margin-left: 12em;
		width: 70%;
	}

	.tidbit {
		margin-left: 0.5em;
		width: 43%;
		float: left;
		text-align: center;
		padding: 0.3em 1em;
		border-bottom: 1px solid rgba(255,255,255,0.08);
		font-family: $font-serif-bold;		
		font-weight: 900;
		font-style: italic;
		color: #fff;
		font-size: 8em;		
	}

	.abril {
		font-family: $font-serif-extrabold;
		font-weight: 400;
		font-style: normal;
	}

	.tidbit:hover {
		cursor: pointer;
		border-bottom: 1px solid rgba(255,255,255,0.9);
		transition: border 1s ease;
		  -webkit-animation-duration: 1s;
		  animation-duration: 1s;
		  -webkit-animation-delay: 0.3s;
		  animation-delay: 0.3s;		  
		  -webkit-animation-iteration-count: 1;
		  animation-iteration-count: 1;
		  -webkit-animation-fill-mode: both;
		  animation-fill-mode: both;
		  -webkit-animation-name: pulse;
		  animation-name: pulse;  
	}


	.tidbit span {
		font-family: $font-sans-condensed;
		letter-spacing: 1px;
		opacity: 0.5;
		font-size: 10%;
		display: block;
		font-style: normal;
	}

	h1.about {
		background: #c41c58;
		color: rgba(15,24,47,1); 
		padding: 4% 13%;
		margin-top: 0.6em;
	}

}


	@-webkit-keyframes pulse {
	  0% {
	    -webkit-transform: scale3d(1, 1, 1);
	    transform: scale3d(1, 1, 1);
	  }

	  50% {
	    -webkit-transform: scale3d(1.05, 1.05, 1.05);
	    transform: scale3d(1.05, 1.05, 1.05);
	  }

	  100% {
	    -webkit-transform: scale3d(1, 1, 1);
	    transform: scale3d(1, 1, 1);
	  }
	}

	@keyframes pulse {
	  0% {
	    -webkit-transform: scale3d(1, 1, 1);
	    transform: scale3d(1, 1, 1);
	  }

	  50% {
	    -webkit-transform: scale3d(1.05, 1.05, 1.05);
	    transform: scale3d(1.05, 1.05, 1.05);
	  }

	  100% {
	    -webkit-transform: scale3d(1, 1, 1);
	    transform: scale3d(1, 1, 1);
	  }
	}